!!!
%html
  %head
    = csrf_meta_tag
    = stylesheet_link_tag "mercury"
    = javascript_include_tag "mercury"

    = javascript_include_tag "http://widgets.twimg.com/j/1/widget.js"
    = stylesheet_link_tag "http://widgets.twimg.com/j/1/widget.css"
    %style
      :css
        iframe {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        display: block;
        }
  %body
    %iframe(id="mercury_frame" frameborder="0" src="/" )
